commands:
  00_set_timezone:
    command: cp /usr/share/zoneinfo/Japan /etc/localtime
  01_add_group:
    command: gpasswd -a nginx nodejs
  02_rm_socketdir:
    command: rm -rf /var/run/app/
  03_mkdir_socketdir:
    command: mkdir -m 755 /var/run/app/
  04_chown_socketdir:
    command: chown nodejs:nodejs /var/run/app/
